.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: .5rem;
  overflow: hidden;
  object-fit: contain;
}
.photo__img {
  width: 100%;
}

.download__image {
  height: 2rem;
  aspect-ratio: 1;
}
.photo__caption {
  padding: 1rem;
}

.span__cont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}